<header class="site-header">
  <div class="container header-content">
    <div class="logo">
      <a href="{{ROOT}}index.html"><img src="{{ROOT}}assets/img/logo-site.png" alt="Mente Crua"></a>
    </div>
    <nav class="menu" id="site-menu">
      <a href="{{ROOT}}index.html">Início</a>
      <a href="{{ROOT}}index.html#artigos">Artigos</a>
      <a href="{{ROOT}}index.html#temas">Temas</a>
      <a href="{{ROOT}}modules/pensadores/">Pensadores</a>
      <a href="{{ROOT}}sobre.html">Sobre</a>
      <a href="{{ROOT}}contato.html">Contato</a>
    </nav>
    <div class="site-search" role="search">
      <input class="siteSearchInput" type="search" placeholder="Buscar..." aria-label="Buscar no Mente Crua">
      <div class="siteSearchResults home-search-results"></div>
    </div>
  </div>
</header>
