

/* ==========================================
   RESPONSIVIDADE DAS IMAGENS
========================================== */

@media (max-width: 768px) {

    .article-image {

        width: 100%;
        max-width: 100%;

        margin: 25px auto;

        border-radius: 10px;

    }

}

figcaption {

    text-align: center;

    font-size: .85rem;

    color: #888;

    margin-top: 12px;
    margin-bottom: 35px;

    font-style: italic;

}


